{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">Post Listesi</h1>
<div class="container">
    {% for item in tweets_with_likes %}
    <div class="card" style="padding:10px;">
        <div class="card-header" style="background-color:cornflowerblue;">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
                integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />
            <h4>{{ item.tweet.username }}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-text" style="font-size: 30;">{{ item.tweet.message }}</h5>
            {% if item.tweet.image %}
                <img src="{{ item.tweet.image.url }}" alt="Tweet image" style="width: 300; height: auto;">
            {% endif %}
            <br>
            {% if item.liked %}
                <label>Beğenme <a href="{% url 'tweetapp:removelike' item.tweet.id %}"><i class="fa-solid fa-heart"></i></a>{{ item.tweet.like }}</label>
            {% else %}
                <label>Beğen <a href="{% url 'tweetapp:addlike' item.tweet.id %}"><i class="fa-regular fa-heart"></i></a>{{ item.tweet.like }}</label>
            {% endif %}
            {% if item.tweet.username == request.user %}
                <a href="{% url 'tweetapp:deletetweet' item.tweet.id %}" class="btn btn-danger">Sil</a>
            {% endif %}

            
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}